<h1>Login</h1>
<hr>

<div class="row justify-content-center">
    <div class="col-9">
        <form (ngSubmit)="acceder()">
            <input type="text"
            [(ngModel)]="nombre"
            name="nombre"
            class="form-control"
            autofocus
            placeholder="Nombre de usuario">

            <button [disabled]="nombre.trim().length === 0"
                class="btn-primary btn-block margin-top-10">
                Ingresar 
            </button>
        </form>
    </div>
</div>